<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boston House Prices</title>
    <style>
        body {
            background-color: #FFFFCC;
        }
    </style>
</head>

<body>
 <div class='login'>
     <h1>Boston House Prices</h1>

     <!-- Action is where the data is sent. In our case, predict page.
     If action is omitted, it assumed to be the current page -->
    <form action="{{ url_for('predict') }}" method="post">
    	<input type="text" name="crime_rate" placeholder="Crime ratio" required="required" /><br>
        <input type="text" name="number_of_rooms" placeholder="Number of rooms" required="required" /><br>
        <input type="text" name="aging_houses_rate" placeholder="Rate of aging houses" required="required"><p>

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict price of Boston</button></p>
    </form>

   <br>
   <br>
   <h4>{{ prediction_text }}</h4>

 </div>

</body>
</html>
